@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*ANDRE*/
/*sign in*/

.sign-inBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../assets/lodin\ back.jpg) no-repeat;
    background-position: center;
  }
  
    .innerBlock{
      width: 420px;
      background: transparent;
      border: 2px solid rgba(35, 37, 50, 100);
      backdrop-filter: blur(20px);
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      color: #ffffff;
      border-radius: 10px;
      padding: 30px 40px;
    }
  
    .innerBlock .input-box{
      width: 100%;
      height: 50px;
      background: transparent;
      margin: 30px 0;
    }
  
    .innerBlock .signInLogo{
      display: block;
      margin-left: 65px;
      margin-right: auto;
      width: 50%;
    }
  
    .input-box input{
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border-radius: 40px;
      color: #BAB6B6;
      font-size: 22px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding: 20px 45px 20px 20px;
    }
    
  
    .input-box input::placeholder {
      color: #BAB6B6;
      font-size: 22px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid rgb(186, 182, 182);
    }
  
    .innerBlock .log-in{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 45px;
      background: #784DF4;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .innerBlock .sign-upLink{
      color: #333;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      margin: 20px 0 15px;
    }
  
    .sign-upLink p a {
      color: #ffffff;
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      text-decoration: none;
    }
  
    .sign-upLink p a:hover{
      text-decoration: underline;
    }
    
    .welcomeHeader{
      color: #ffffff;
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
    }
  
    .logInBtnText{
      color: #ffffff;
      font-size: 22px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
    }




         /*sign up*/

         .sign-upBody{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url(../assets/lodin\ back.jpg) no-repeat;
            background-position: center;
          }
    
          .signUpText{
            color: #ffffff;
            font-size: 40px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
            display: flex;
            justify-content: center;
            text-align: center;
          }
    
         .innerBlock .input-boxSignUp{
            width: 100%;
            height: 50px;
            background: transparent;
            margin: 30px 0;
          }
          
         .input-boxSignUp input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border-radius: 40px;
            color: #BAB6B6;
            font-size: 22px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            padding: 20px 45px 20px 20px;
          }
          
        
          .input-boxSignUp input::placeholder {
            color: #BAB6B6;
            font-size: 22px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid rgb(186, 182, 182);
          }
    
          .innerBlock .signUp{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 45px;
            background: #784DF4;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
          }
    
          .SignUpBtnText{
            color: #ffffff;
            font-size: 22px;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
          }